@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show-anim {
    animation: showAnimation 1s linear 1 forwards;
    -webkit-animation: showAnimation 1s linear 1 forwards;
    -moz-animation: showAnimation 1s linear 1 forwards;
}

@keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hide-anim {
    animation: hideAnimation 1s linear 1 forwards;
    -webkit-animation: hideAnimation 1s linear 1 forwards;
    -moz-animation: hideAnimation 1s linear 1 forwards;
}

@keyframes tlAnimPg1ToPg2 {
    0% {
        top: -3rem;
        left: 610rem;
        height: 37rem;
        opacity: 0;
    }
    5% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    50% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    100% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
}

@-webkit-keyframes tlAnimPg1ToPg2 {
    0% {
        top: -3rem;
        left: 610rem;
        height: 37rem;
        opacity: 0;
    }
    5% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    50% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    100% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
}

@-moz-keyframes tlAnimPg1ToPg2 {
    0% {
        top: -3rem;
        left: 610rem;
        height: 37rem;
        opacity: 0;
    }
    5% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    50% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    100% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
}

.tl-page-1 {
    top: -3rem;
    left: 610rem;
    height: 37rem;
    position: relative;
    opacity: 0;
    animation: tlAnimPg1ToPg2 3s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg1ToPg2 3s linear 1s 1 forwards;
    -moz-animation: tlAnimPg1ToPg2 3s linear 1s 1 forwards;
}

@keyframes tlAnimPg2ToPg3 {
    0% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    5% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
        top: 5rem;
        height: 17rem;
        left: 268rem;
    }
    50% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        
        top: -3rem;
        left: 610rem;
        height: 37rem;
        opacity: 0;
    }
}

.tl-page-2 {
    top: -3rem;
    left: 610rem;
    height: 37rem;
    position: relative;
    opacity: 0;
    animation: tlAnimPg2ToPg3 3s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg2ToPg3 3s linear 1s 1 forwards;
    -moz-animation: tlAnimPg2ToPg3 3s linear 1s 1 forwards;
}

@keyframes tlAnimPg3ToPg4 {
    0% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    20% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    25% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    80% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    100% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg3ToPg4 {
    0% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    20% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    25% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    80% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    100% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg3ToPg4 {
    0% {
        top: 2rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    20% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    25% {
        top: 5rem;
        height: 17rem;
        left: 268rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    80% {
        top: 5rem;
        left: 25rem;
        height: 17rem;
        opacity: 1;
    }
    100% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-3 {
    top: 2rem;
    height: 17rem;
    left: 268rem;
    opacity: 1;
    position: relative;
    animation: tlAnimPg3ToPg4 4.5s ease 1s 1 forwards;
    -webkit-animation: tlAnimPg3ToPg4 4.5s ease 1s 1 forwards;
    -moz-animation: tlAnimPg3ToPg4 4.5s ease 1s 1 forwards;
}

@keyframes tlAnimPg4ToPg5 {
    0% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 128rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg4ToPg5 {
    0% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 128rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg4ToPg5 {
    0% {
        top: -3rem;
        left: 73rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 24rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 52rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 128rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-4 {
    top: -3rem;
    left: 73rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg4ToPg5 3s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg4ToPg5 3s linear 1s 1 forwards;
    -moz-animation: tlAnimPg4ToPg5 3s linear 1s 1 forwards;
}

@keyframes tlAnimPg5ToPg6 {
    0% {
        top: -3rem;
        left: 127rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg5ToPg6 {
    0% {
        top: -3rem;
        left: 127rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg5ToPg6 {
    0% {
        top: -3rem;
        left: 127rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 53rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-5 {
    top: -3rem;
    left: 127rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg5ToPg6 3.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg5ToPg6 3.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg5ToPg6 3.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg6ToPg7 {
    0% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg6ToPg7 {
    0% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg6ToPg7 {
    0% {
        top: -3rem;
        left: 182rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 80rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-6 {
    top: -3rem;
    left: 182rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg6ToPg7 3.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg6ToPg7 3.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg6ToPg7 3.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg7ToPg8 {
    0% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg7ToPg8 {
    0% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg7ToPg8 {
    0% {
        top: -3rem;
        left: 235rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 109rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-7 {
    top: -3rem;
    left: 235rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg7ToPg8 3.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg7ToPg8 3.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg7ToPg8 3.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg8ToPg9 {
    0% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg8ToPg9 {
    0% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg8ToPg9 {
    0% {
        top: -3rem;
        left: 290rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 136rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-8 {
    top: -3rem;
    left: 290rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg8ToPg9 2.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg8ToPg9 2.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg8ToPg9 2.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg9ToPg10 {
    0% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg9ToPg10 {
    0% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg9ToPg10 {
    0% {
        top: -3rem;
        left: 307rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 145rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-9 {
    top: -3rem;
    left: 307rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg9ToPg10 3.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg9ToPg10 3.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg9ToPg10 3.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg10ToPg11 {
    0% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg10ToPg11 {
    0% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg10ToPg11 {
    0% {
        top: -3rem;
        left: 362rem;
        height: 33rem;
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    35% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    40% {
        top: 5rem;
        left: 173rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    75% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    85% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-10 {
    top: -3rem;
    left: 362rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg10ToPg11 2.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg10ToPg11 2.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg10ToPg11 2.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg11ToPg12 {
    0% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg11ToPg12 {
    0% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg11ToPg12 {
    0% {
        top: -3rem;
        left: 379rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    25% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    30% {
        top: 5rem;
        left: 181rem;
        height: 17rem;
        opacity: 1;
    }
    50% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    65% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-11 {
    top: -3rem;
    left: 379rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg11ToPg12 3.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg11ToPg12 3.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg11ToPg12 3.5s linear 1s 1 forwards;
}

@keyframes tlAnimPg14ToPg15 {
    0% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
}

@-webkit-keyframes tlAnimPg14ToPg15 {
    0% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg14ToPg15 {
    0% {
        top: -3rem;
        left: 435rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 210rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-14 {
    top: -3rem;
    left: 435rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg14ToPg15 4.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg14ToPg15 4.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg14ToPg15 4.5s linear 1s 1 forwards;
}

@-webkit-keyframes tlAnimPg15ToPg16 {
    0% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 488rem;
        height: 33rem;
        opacity: 0;
    }
}

@keyframes tlAnimPg15ToPg16 {
    0% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 488rem;
        height: 33rem;
        opacity: 0;
    }
}

@-moz-keyframes tlAnimPg15ToPg16 {
    0% {
        top: -3rem;
        left: 19rem;
        height: 33rem;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    20% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    27% {
        top: 5rem;
        left: 0rem;
        height: 17rem;
        opacity: 1;
    }
    60% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    70% {
        top: 5rem;
        left: 239rem;
        height: 17rem;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: -3rem;
        left: 488rem;
        height: 33rem;
        opacity: 0;
    }
}

.tl-page-15 {
    top: -3rem;
    left: 19rem;
    height: 33rem;
    opacity: 0;
    position: relative;
    animation: tlAnimPg15ToPg16 4.5s linear 1s 1 forwards;
    -webkit-animation: tlAnimPg15ToPg16 4.5s linear 1s 1 forwards;
    -moz-animation: tlAnimPg15ToPg16 4.5s linear 1s 1 forwards;
}
