:root {
    --border-blue: #31628d;
    --enabled-text-color: #000000;
    --disabled-text-color: #6e6e6e;
    --background-white: #ffffff;
    --enabled-toggle-background: #b2d2ec;
    --disabled-toggle-background: #ffffff;
    --colored-text: #ff8205;
    --active-colored-text: #c55b10;
    --timeline-buttom-backgroung: #f5c587;
    --active-timeline-buttom-backgroung: #f5bd73;
}

@font-face {
    font-family: "Assistant";
    src: url("assets/fonts/Assistant/Assistant-Regular.ttf");
}

html, body {
    font-family: "Assistant";
    font-size: calc(1vh + 1vw + 8px);
    direction: rtl;
    overflow: hidden;
    text-align: right;
}

body {
    background-image: url("assets/images/background.svg");
    background-size: 100vw 104vh;
    background-repeat: no-repeat;
}    

/* buttons that appear for all of the screens */
#menu-btn {
    position: absolute;
    width: 2rem;
    right: 1.5rem;
    top: 1rem;
}    

#info-btn {
    position: absolute;
    width: 2rem;
    right: 4.5rem;
    top: 1rem;
}    

#ques-btn {
    position: absolute;
    width: 2rem;
    right: 7.5rem;
    top: 1rem;
}

#sym-hativa {
    position: absolute;
    width: 2.5rem;
    left: 1rem;
    top: 0.5rem;
}

#sym-gapa-unofficial {
    position: absolute;
    width: 2.5rem;
    left: 4.5rem;
    top: 0.5rem;
}

/* button cursor pointer */
#menu-btn:hover, 
#info-btn:hover,
#ques-btn:hover,
#re-do-button:hover,
.next-btn-timeline:hover,
.close-window-btn:hover,
.colored-text:hover,
.close-def-btn:hover,
#profession-branch:hover,
#command-branch:hover,
#emi-branch:hover,
.example-btn:hover,
.closed-card,
.close-card-button,
.next-arrow,
.close-details-btn {
    cursor: pointer;
}

.next-btn-timeline:hover {
    background-color: var(--active-timeline-buttom-backgroung);
}

/* menu styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nice-nav {
    text-align: right;
    width: 18rem;
    background: var(--background-white);
    height: 100%;
    transition:all 0.4s ease-in-out 0s;
    float: right;
    margin-right: -19.3rem;
    z-index: 5;
    position: relative;
}

.nice-nav.open {
    margin-right: 1.3rem;
    display: block;
}

.nice-nav li.child-menu span.toggle-right {
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--enabled-toggle-background);
    bottom: 0;
    border-right: 2px solid var(--border-blue);
}

.nice-nav ul li a {
    padding: 0.1rem 0.3rem 0.3rem 2rem;
    background: var(--background-white);
    border: 1px solid var(--border-blue);
    display: block;
    color: var(--enabled-text-color);
    font-size: 0.8rem;
    position: relative;
}

.nice-nav ul li.child-menu ul {
    background: var(--background-white);
    display: none;
}

.nice-nav ul li.child-menu ul li a {
    background: var(--background-white);
    padding: 0.2rem 0.4rem;
}

.arrow-container {
    display: flex;
    align-items: center;
}

.arrow {
    display: inline-block;
    position: relative;
    z-index: 20;
    margin-right: 0.4rem;
    margin-left: 0.7rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 3px solid var(--border-blue);
    border-right: 3px solid var(--border-blue);
}

.right-arrow {
    transform: rotate(45deg);
}

.left-arrow {
    transform: rotate(-135deg);
}

.main-menu {
    border: 1px solid var(--border-blue);
}        

.menu-icon {
    height: 1rem;
    padding-left: 0.2rem;
    position: relative;
    top: 0.2rem;
}

.menu-text {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}           

/* text styling */
.main-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27rem;
    padding-bottom: 2rem;
}

.next-btn-timeline {
    width: fit-content;
    padding: 0.15rem 0.5rem;
    font-size: 0.8rem;
    font-family: "Assistant";
    font-weight: 550;
    background-color: var(--timeline-buttom-backgroung);
    border: none;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    background-color: var(--background-white);
    padding: 1rem;
    border-radius: 2rem;
    width: 30rem;
    height: 22rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 7;
}

.content-container {
    position: relative;
    margin: 2.5rem 0;
    top: -1rem;
}

.close-window-btn {
    width: 1.5rem;
    z-index: 3;
    position: relative;
}     

.title {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: right;
}    

.line {
    font-size: 1rem;
}    

.bold-txt {
    font-weight: 600;
}  

.definition {
    background-color: var(--background-white);
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    width: 10rem;
    position: absolute;
    z-index: 10;
    margin-bottom: 0.3rem;
}

#def1-exp {
    bottom: 16rem;
    left: 18rem;
}

#def2-exp {
    bottom: 12rem;
    left: 26.5rem;
    width: 12rem;
}

#def3-exp {
    bottom: 9rem;
    left: 25rem;
    width: 18rem;
}

#def4-exp {
    bottom: 16rem;
    left: 23rem;
    width: 12rem;
}

#def5-exp {
    bottom: 11rem;
    left: 9rem;
    width: 18rem;
}

#def6-exp {
    bottom: 9rem;
    left: 9rem;
    width: 18rem;
}

#def7-exp {
    bottom: 13rem;
    left: 30rem;
    width: 13rem;
}

#def8-exp {
    bottom: 15rem;
    left: 29rem;
    width: 13rem;
}

#def9-exp {
    bottom: 9rem;
    left: 23rem;
    width: 12rem;
}

#def10-exp {
    bottom: 16rem;
    left: 28rem;
    width: 12rem;
}

#def11-exp {
    bottom: 16rem;
    left: 25rem;
    width: 13rem;
}

#def12-exp {
    bottom: 16rem;
    left: 24rem;
}

#def13-exp {
    bottom: 16rem;
    left: 21rem;
}

#def14-exp {
    bottom: 16rem;
    left: 20rem;
}

.close-def-btn {
    width: 1rem;
    z-index: 11;
}

.def-text {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

#symbols {
    display: flex;
    justify-content: center;
    align-items: center;
}    

.symbol-gapa {
    width: 2rem;
    margin: 0rem 0.25rem 0rem 0.25rem;
}    

.text-container {
    padding: 0rem 3rem 0rem 1rem;
    position: relative;
    top: -1rem;
}

.error {
    color: red;
    font-size: 0.6rem;
    text-align: center;
    width: inherit;
    display: none;
    margin-top: 0.5rem;
}

.colored-text {
    color: var(--colored-text);
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-btn {
    width: 2rem;
    margin: 0.5rem 0.25rem 0rem 0.25rem;
    position: relative;
    z-index: 3;
}

#page {
    height: calc(100vh - 4rem);
}

.video {
    background-color: #aaa8a8;
    width: 34rem;
    height: 18rem;
    text-align: center;
    position: relative;
    top: 1rem;
}

.timeline {
    height: 17rem;
    position: relative;
    /* bottom: -2rem; */
}

.timeline-title {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

#page3 {
    left: 230rem;
}

#page4 {
    left: 230rem;
    bottom: 4rem;
}

#page5 {
    left: 0rem;
}

#page7 {
    left: 53rem;
}

#page9 {
    left: 80rem;
}

#page11 {
    left: 120rem;
}

.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

.open-text {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16rem;
    width: 40rem;
}

.sub-title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 9rem;
    width: 30rem;
    font-weight: 600;
    font-size: 2rem;
}

.timeline-text-page {
    margin: 5rem;
    /* display: flex;
    flex-wrap: wrap; */
}

.timeline-symbol-img {
    height: 7rem;
    padding: 1rem;
    margin: auto;
    display: block;
    position: relative;
}

#branches {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

.branch-img {
    height: 5rem;
}

.branch-text {
    font-weight: 600; 
    font-size: 0.8rem; 
    text-align: center;
}

.page23-title {
    position: absolute;
    top: 3.5rem;
}

.page23-button {
    bottom: 0.5rem;
}

.roles-text-page {
    margin: 3.5rem 2rem 0rem 2rem;
    height: calc(100vh - 7rem);
}

.next-arrow {
    height: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#infographic-31 .infographic {
    margin-left: 4rem;
    height: 4rem;
    min-width: 0;
    min-height: 0;
}

#infographic-32 .infographic {
    margin-left: 4rem;
    height: 3rem;
    min-width: 0;
    min-height: 0;
}

#infographic-31 .infographic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
    /* height: calc(100vh - 20rem); */
}

#infographic-32 .infographic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
    /* height: calc(100vh - 20rem); */
}


#infographic-31 .infographic-text-container {
    background-color: #bdd7ee;
    width: 15rem;
    position: relative;
    height: 3.3rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2.3rem;
    right: 1.5rem;
}

#infographic-32 .infographic-text-container {
    background-color: #bdd7ee;
    width: 25rem;
    position: relative;
    height: 2.6rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2.3rem;
    right: 1.5rem;
}

#infographic-31 .infographic-num-container {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #44546a;
    height: 3.3rem;
    width: 3.3rem;
    padding-top: 0.6rem;
    bottom: 3.3rem;
    font-size: 1.3rem;
    right: 0.2rem;
}

#infographic-32 .infographic-num-container {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #44546a;
    height: 2.6rem;
    width: 2.6rem;
    padding-top: 0.4rem;
    bottom: 2.6rem;
    font-size: 1.3rem;
    right: 0.2rem;
}

#infographic-31 .complex-infographic-text {
    display: inline-block; 
    line-height: 1.56rem;
}

#infographic-32 .complex-infographic-text {
    display: inline-block; 
    line-height: 1.2rem;
}

@media only screen and (max-width: 1560px) {
    #infographic-31 .infographic-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #infographic-31 .infographic-text-container {
        width: 13rem;
        font-size: 0.8rem;
    }
    #infographic-31 .infographic {
        width: 15rem;
    }
    
    #infographic-32 .infographic-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #infographic-32 .infographic-text-container {
        width: 25rem;
        font-size: 0.8rem;
    }
    #infographic-32 .infographic {
        width: 25rem;
    }
}

@media only screen and (max-width: 1297px) {
    #infographic-31 .infographic-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #infographic-31 .infographic-text-container {
        width: 9rem;
        font-size: 0.8rem;
        height: 5.1rem;
        padding-right: 2rem;
    }
    #infographic-31 .infographic {
        width: 13rem;
        height: 6.3rem;
    }
    #infographic-31 .infographic-num-container {
        height: 3.6rem;
        width: 5.1rem;
        padding-top: 1.5rem;
        bottom: 5.1rem;
        font-size: 1.3rem;
        right: -0.5rem;
    }
    
    #infographic-32 .infographic-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #infographic-32 .infographic-text-container {
        width: 25rem;
        font-size: 0.8rem;
        height: 2.6rem;
        padding-right: 2rem;
    }
    #infographic-32 .infographic {
        width: 25rem;
        height: 3rem;
    }
    #infographic-32 .infographic-num-container {
        height: 2.2rem;
        width: 2.6rem;
        padding-top: 0.4rem;
        bottom: 2.6rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1100px) {
    #infographic-31 .infographic-container {
        flex-direction: column;
    }
    #infographic-31 .infographic-text-container {
        width: 26rem;
        font-size: 0.9rem;
        height: 2.3rem;
        padding-right: 2rem;
    }
    #infographic-31 .infographic {
        width: 12rem;
        height: 2.7rem;
    }
    #infographic-31 .infographic-num-container {
        height: 2rem;
        width: 2.3rem;
        padding-top: 0.3rem;
        bottom: 2.3rem;
        font-size: 1.3rem;
        right: -0.5rem;
    }
    
    #infographic-32 .infographic-container {
        flex-direction: column;
    }
    #infographic-32 .infographic-text-container {
        width: 20rem;
        font-size: 0.9rem;
        height: 3.5rem;
        padding-right: 2rem;
        right: 1rem;
    }
    #infographic-32 .infographic {
        width: 20rem;
        height: 5rem;
    }
    #infographic-32 .infographic-num-container {
        height: 2.7rem;
        width: 3.5rem;
        padding-top: 0.8rem;
        bottom: 3.5rem;
        font-size: 1.3rem;
        right: -0.6rem;
    }
    .roles-text-page {
        margin: 3.5rem 1rem 0rem 1rem;
    }
}

@media only screen and (max-width: 760px) {
    #infographic-31 .infographic-container {
        flex-direction: column;
    }
    #infographic-31 .infographic-text-container {
        width: 26rem;
        font-size: 0.9rem;
        height: 2.3rem;
        padding-right: 2rem;
    }
    #infographic-31 .infographic {
        width: 12rem;
        height: 2.7rem;
    }
    #infographic-31 .infographic-num-container {
        height: 2rem;
        width: 2.3rem;
        padding-top: 0.3rem;
        bottom: 2.3rem;
        font-size: 1.3rem;
        right: -0.5rem;
    }
    
    #infographic-32 .infographic-container {
        flex-direction: column;
    }
    #infographic-32 .infographic-text-container {
        width: 16rem;
        font-size: 0.9rem;
        height: 3.6rem;
        padding-right: 2rem;
        right: 0.5rem;
    }
    #infographic-32 .infographic {
        width: 12rem;
        height: 4rem;
    }
    #infographic-32 .infographic-num-container {
        height: 2.8rem;
        width: 3.6rem;
        padding-top: 0.8rem;
        bottom: 3.6rem;
        font-size: 1.3rem;
        right: -1.3rem;
    }
    .roles-text-page {
        margin: 3.5rem 1rem 0rem 1rem;
    }
}

.structure-text-page {
    margin: 3.5rem 2rem 0rem 2rem;
    height: calc(100vh - 7rem);
}

.subtitle {
    font-weight: 600;
    text-align: right;
}

.roles-text {
    width: 20rem;
    text-align: right;
}

.roles-img {
    width: 15rem;
    position: absolute;
    left: 5rem;
    top: 8rem;
    border: solid 5px white;
}

.carousel {
    width: 15rem;
    position: absolute;
    left: 5rem;
    top: 7rem;
}

.structure-sym {
    height: 4rem;
}

.gdudim-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17rem;
}

.units-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    width: calc(100vw - 5rem);
    top: 6rem;
}

.hativa-desc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
}

.bah-desc {
    position: absolute;
    right: 3rem;
    top: 6rem;

}

.baf-desc {
    position: absolute;
    right: 15rem;
    top: 6rem;
}

.matachim-desc {
    position: absolute;
    left: 17.5rem;
    top: 6rem;
}

.school-desc {
    position: absolute;
    left: 5rem;
    top: 5.5rem;
}

.gdudim-desc {
    margin-left: 1rem;
}

#hativa {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 1rem;
}

#bah {
    height: 5.5rem;
    margin-top: 1rem;
}

#baf {
    height: 6rem;
}

#matachim {
    height: 3.5rem;
}

#school {
    height: 8rem;
}

.structure-details {
    background-color: var(--background-white);
    border-radius: 5rem;
    width: 40rem;
    height: 21rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
}

.close-details-btn {
    width: 1.5rem;
    z-index: 3;
    position: absolute;
    right: 2rem;
    top: 2rem;
}  

.details-title {
    position: absolute;
    top: 1.3rem;
    right: 5rem;
    font-size: 1.5rem;
}

.details-conteiner {
    position: absolute;
    text-align: right;
    width: 30rem;
    right: 5rem;
    top: 4rem;
}

.details-text {
    font-size: 0.8rem;
}

.details-list {
    list-style-type: circle;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.details-img {
    width: 7rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 1rem;
}

.matachim-img {
    width: 4rem;
}

.sub-sub-title {
    text-decoration: underline;
    font-size: 0.8rem;
}

.card {
    background-color: #f8f3da;
    width: 25rem;
    height: 7rem;
    padding: 0.5rem 2.5rem;
}

.carousel {
    width: 25rem;
    position: absolute;
    left: -5rem;
    top: 2.5rem;
}

.card-text {
    font-size: 0.7rem;
}

.card-title {
    font-size: 0.8rem;
}

.prev-icon-card {
    background-image: url("assets/images/carousel-prev-icon.svg");
}

.next-icon-card {
    background-image: url("assets/images/carousel-next-icon.svg");
}

.close-card-button {
    width: 1rem;
    position: absolute;
    z-index: 5;
    top: 0.5rem;
    right: 0.5rem;
}

.closed-card {
    background-color: #f8f3da;
    width: 7rem;
    padding: 0.2rem 0.5rem;
    transform: rotate(90deg);
    position: absolute;
    left: -7.55rem;
    top: 5rem;
}

.closed-card-title {
    padding-right: 1rem;
    /* transform: rotate(180deg); */
}

.closed-card-arrow {
    width: 1rem;
    transform: rotate(90deg);
}

.next-arrow {
    width: 2rem;
    position: absolute;
    top: 14rem;
}

.next-left {
    left: -2rem;
}

.next-right {
    left: 31rem;
    transform: rotate(180deg);
}

.end-text {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
    width: 40rem;
    font-size: 1.7rem;
    font-weight: 700;
}

#re-do-button {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    width: 40rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.re-do-img {
    width: 3rem;
}



