/* roles styling */
.roles-text-page {
    margin: 3.5rem 2rem 0rem 2rem;
    height: calc(100vh - 7rem);
}

.next-arrow {
    height: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#infographic-31 .infographic {
    margin-left: 4rem;
    height: 4rem;
    min-width: 0;
    min-height: 0;
}

#infographic-32 .infographic {
    margin-left: 4rem;
    height: 3rem;
    min-width: 0;
    min-height: 0;
}

#infographic-31 .infographic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
}

#infographic-32 .infographic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
}


#infographic-31 .infographic-text-container {
    background-color: #bdd7ee;
    width: 15rem;
    position: relative;
    height: 3.3rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2.3rem;
    right: 1.5rem;
}

#infographic-32 .infographic-text-container {
    background-color: #bdd7ee;
    width: 25rem;
    position: relative;
    height: 2.6rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 2.3rem;
    right: 1.5rem;
}

#infographic-31 .infographic-num-container {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #44546a;
    height: 3.3rem;
    width: 3.3rem;
    padding-top: 0.6rem;
    bottom: 3.3rem;
    font-size: 1.3rem;
    right: 0.2rem;
}

#infographic-32 .infographic-num-container {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #44546a;
    height: 2.6rem;
    width: 2.6rem;
    padding-top: 0.4rem;
    bottom: 2.6rem;
    font-size: 1.3rem;
    right: 0.2rem;
}

#infographic-31 .complex-infographic-text {
    display: inline-block; 
    line-height: 1.56rem;
}

#infographic-32 .complex-infographic-text {
    display: inline-block; 
    line-height: 1.2rem;
}

.roles-text {
    width: 20rem;
    text-align: right;
}

.roles-img {
    width: 15rem;
    position: absolute;
    left: 5rem;
    top: 8rem;
    border: solid 5px white;
}

.closed-card,
.close-card-button,
.next-arrow,
.close-details-btn {
    cursor: pointer;
}